# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\workspace\Github\servlet-calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
